<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>Currently in About Page with the help of template engine in NODE js </h1>
     <h2>Hello EveryOne How are you </h2>
     <h3>What are you doing these days </h3>
     {{>footer}}
</body>
</html>